html {
  font-size: 100%;
  background-color: black;
}
body {
  padding: 0;
  margin: 0;
  background-color: green;
  font-family: arial, sans-serif;
}
header {
  background-color: #242021;
  color: #fff;
  font-size: 0.5rem;
  text-transform: uppercase;
}
header img{
  height: 25%;
}
nav ul{
  list-style-type: none;
}
nav ul li{
  background-color: #5f1d58;
  border: 1px solid #5f1d58
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}
nav ul li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover{
color: #000;
text-transform: uppercase;
text-decoration: none;
}
nav ul li:nth-child(2){
  background-color: #14065d;
  border: 1px solid #14065d;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}
nav ul li:nth-child(2) a{
  color: #000;
}
nav ul li a:nth-child(2) a:hover{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.wrapper{
  background-color: #67d50c;
}
